body {
    background-color: #393e46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
    text-align: center;
}

.players {
    color: #4ECCA3;
    text-align: center;
    font-family: cursive;
    font-size: 250%;
}

.flex {
    display: flex;
    justify-content: center;
}